## Python Data Structures and Boolean

In [1]:
# Boolian function
# True & False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [17]:
my_string = "Avinash"

In [18]:
my_string.isalnum() #Is all are alphabate and numeric?

True

In [14]:
my_string = "Avi nash"

In [15]:
my_string.isalnum()

False

In [19]:
my_string = "12 Avi"

In [21]:
my_string.isalpha()

False

In [22]:
my_string = "Mlrock"

In [25]:
my_string.istitle() #The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

True

In [26]:
my_str = "Ml Rock One Day"

In [27]:
my_str.istitle()

True

In [28]:
my_str = "Ml Rock One day"
my_str.istitle()

False

In [37]:
my_string = "We will make it" #Check if string if start with W or end with t
print(my_string.startswith('W'))
print(my_string.endswith('t'))

True
True

## Boolian and Logical operators

In [46]:
True and False   # And - both should be same and in or- at least one

False

In [39]:
False and False

False

In [40]:
True and True

True

In [41]:
True or False

True

In [42]:
example = "Let rock"
string = "Will learn it"

In [44]:
example.isalnum() or string.isnumeric()

False

In [48]:
example = "Letrock"
string = "Will learn it"
print(example.isalnum() or string.isnumeric())
print(example.isalnum() and string.isnumeric())

True
False

## List
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.

In [75]:
lst_example = []

In [76]:
type(lst_example)

list

In [77]:
lst = list()

In [78]:
type(lst)

list

In [79]:
lst = list(("We","will",23,45,0,3))

## Indexing

In [80]:
lst[2]

23

In [81]:
lst[:]

['We', 'will', 23, 45, 0, 3]

In [82]:
lst[1:]

['will', 23, 45, 0, 3]

## Append

In [83]:
lst.append('learn') # .append add at last place

In [84]:
lst

['We', 'will', 23, 45, 0, 3, 'learn']

## Insert

In [85]:
lst.insert(2,'learn it')

In [86]:
lst

['We', 'will', 'learn it', 23, 45, 0, 3, 'learn']

In [87]:
len(lst)

8

In [88]:
lst.append(["Hello World"])  #Make a nested list

In [89]:
lst

['We', 'will', 'learn it', 23, 45, 0, 3, 'learn', ['Hello World']]

## Extend Method

In [94]:
lst = [20,22,"see"]
lst.extend(["We", "Will"]) # add multiple elements without nested

In [95]:
lst

[20, 22, 'see', 'We', 'Will']

## Various operator we can perform in list

In [112]:
lst = [2,5,3,5]

In [113]:
sum(lst)

15

In [114]:
lst*2

[2, 5, 3, 5, 2, 5, 3, 5]

## pop() method

In [98]:
# The pop() method returns removed value. default is -1 
lst.pop()

5

In [99]:
lst.pop(1)

5

In [100]:
lst

[2, 3]

In [101]:
lst.extend([5,4])

In [102]:
lst

[2, 3, 5, 4]

## Count(): Calculates total occurence of given element of List

In [103]:
lst = [2,4,6,7,2,5,2,5,2]

In [104]:
lst.count(2)

4

In [105]:
# len() calculates total length of list
len(lst)

9

In [106]:
# index(): Return the index of first occurence.Start and end index are not necessary parameters 
lst.index(2)

0

In [107]:
lst.index(2,1,6)

4

In [108]:
lst.index(2,0,6)

0

In [109]:
max(lst)

7

## Sets

In [2]:
# A set is a collection which is unordered, unchangeable*, and unindexed.
# * Set items are unchangeable, but we can remove items and add new items.Sets are written with curly brackets.
# Set items are unordered, unchangeable, and do not allow duplicate values means unique elements.

In [3]:
Set = set((1,2,3))

In [4]:
Set

{1, 2, 3}

In [21]:
Set1 = {"Saturn","Earth","Marsh"}

In [22]:
Set1.remove("Earth")
print(Set1)

{'Marsh', 'Saturn'}

In [23]:
Set1.add("Earth")

In [24]:
print(Set1)

{'Marsh', 'Earth', 'Saturn'}

In [25]:
Set2 = {"Jupyter","Mercury","Venus","Earth","Marsh"}

In [27]:
Set2.difference(Set1)

{'Jupyter', 'Mercury', 'Venus'}

In [28]:
Set2

{'Earth', 'Jupyter', 'Marsh', 'Mercury', 'Venus'}

In [29]:
Set2.difference_update(Set1)

In [30]:
Set2

{'Jupyter', 'Mercury', 'Venus'}

## Dictionary

In [1]:
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
# When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
# Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

In [2]:
type(dict())

dict

In [4]:
dt = {'Gates':'Microsoft','Musk':'SpaceX','Jukerburg':'Facebook'}

In [5]:
dt

{'Gates': 'Microsoft', 'Musk': 'SpaceX', 'Jukerburg': 'Facebook'}

In [6]:
type(dt)

dict

In [8]:
dt['Gates']

'Microsoft'

In [9]:
for x in dt:
    print(x)

Gates
Musk
Jukerburg

In [10]:
for x in dt.values():
    print(x)

Microsoft
SpaceX
Facebook

In [11]:
for x in dt.items():
    print(x)

('Gates', 'Microsoft')
('Musk', 'SpaceX')
('Jukerburg', 'Facebook')

In [12]:
## Adding items in dictionary
dt['Dorsey']='Twitter'

In [15]:
dt

{'Gates': 'Microsoft',
 'Musk': 'SpaceX',
 'Jukerburg': 'Facebook',
 'Dorsey': 'Twitter'}

## Nested Dictionary

In [16]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [17]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [18]:
car_type['car1']

{'Mercedes': 1960}

In [19]:
car_type['car1']['Mercedes']

1960

## Tuples

In [20]:
# A tuple is a collection which is ordered and unchangeable.
# Tuple items are ordered, unchangeable, and allow duplicate values.
# Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
# Since tuples are indexed, they can have items with the same value

In [21]:
type(tuple())

tuple

In [22]:
tp = ('I','will','make','a','impact')

In [23]:
type(tp)

tuple

In [24]:
tp.count('I')

1

In [25]:
tp.index('make')

2